* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-colour: #1f2937;
    --accent-colour: #f9faf8;
    --secondary-colour: #E5E7EB;
    --cta-colur: #3882F6;
}

.header{
    /* min-height: 80vh;
    width: 100%; */
    /* background-color: var(--primary-colour); */
}

.nav-wrapper {
    background-color: var(--primary-colour);
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    color: var(--accent-colour);
    font-size: 24px;
    font-weight: 900;
    padding-left: 10%;
}

.right-side{
    flex: 1;
    text-align: right;
    padding-right: 10%;
}

.right-side ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.right-side ul li a {
    color: var(--accent-colour);
    text-decoration: none;
    font-size: 16px;
}